**/Config/application.config
**/Logs/
**/node_modules/
*.bin
*.crc
*.dat
*.ide
*.js.map
*.log
*.orig
*.psess
*.slm
*.suo
*.test.html
*.user
*.version
*.vsp
.idea/*
.vs
/Binaries/BuildDeploy/Assets/src/__tests__/example_test.js
/Build
/BuildLogs
/nuget.exe
/package-lock.json
/packages
/PrecompiledSites
/**/bin
/**/Bin
/Commons/Commons.Tests/Scripts/*/*.js
/DirectCrm/DirectCrm.Tests/nuget.exe
/Markup/ignore
/test.txt
_ReSharper.*
1.playlist
obj
OpenCover/
PrecompiledSites
StyleCop.Cache
TestResults
Dev.runsettings

**/nLog.config.template

# Unpacked frontend:
.idea/
